*{
    margin: 0;
    padding: 0;
    background-color: rgb(33 36 56);
    font-family: sans-serif;
}
.Top_bar{
    width: 100%;
    height: 200px;
    display: block;
    -background-color: aqua;
}
.container{
    width: 80%;
    height: auto;
    margin: auto;
    -background-color: bisque;
    display: block;
}
.Top_wrapper{
    display: inline-block;
    height: auto;
    width: 100%;
}
.Top_wrapper h1{
    float: left;
    display: inline-block;
    color: rgb(253 7 5 / 1);
    padding: 15px;

}
.Top_wrapper ul{
    float: right;
    -padding: 16px 0 0 5px;
}
.Top_wrapper ul li{
    text-decoration: none;
    display: inline-block;
    padding-top: 20px;
    margin-right: 15px;
    
}
.Top_wrapper ul li a{
    color:rgb(247, 237, 237);
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    border-radius: 5px;
    transition: 0.8s;
}
.Top_wrapper ul li a:hover{
    background-color: brown;
}
.mid_bar{
    width: 100%;
    height: 400px;
    display: block;
    color: aliceblue;
}
.mid_bar p{
    color: rgb(253, 7, 7);
    font-size: 25px;
    padding: 5px 0;
    
}
.mid_bar h2{
    font-size: 30px;
    font-weight: bold;
    padding: 5px 0;
}
.mid_bar h6{
    line-height: 20px;
    padding: 5px;
}
.mid_bar_text{
    float: left;
}
.img1{
    width: 45%;
    height: auto;
    float: right;
    -display: inline-block;

}
.img_2{
    float: left;
    height: 500px;
    width: 400px;
}
.mid_barNext{
    width: 100%;
    height: auto;
    -border-top: 1px solid #fff;
}
.mid_bar_next{
    display: block;
    width: auto;
    height: 400px;
}
.img_2{
    padding: 15px;
    float: left;
    display: flex;
    
}
.introduction_2{
    float: right;
    display: inline-block;
    padding: 15px;
    color: aliceblue;
}
.introduction_2 p{
    color: red;
    font-size: 25px;
    padding: 10px 0;
}
.introduction_2 h2{
    font-size: 30px;
    padding: 10px 0;
}
.introduction_2 h6{
    line-height: 20px;
}
.sub_btn{
    padding: 10px 20px;
    background-color: red;
    border-radius: 10px 5px 0 0;
    color: #fff;
    display: inline-block;
}